#top {
    position: relative;
    background-color: #036fab;
    color: white;
    padding: 5px;
    margin: 0px 0px 0px 0px;
}

#title {
    font-size: 2em;
    font-weight: bold;
    float: left;
    margin-left: 30px;
}
#panier {
    text-align: right;
    margin : 0px 20px 10px 0px;
}

#menu {
    color: white;
    font-size: 1.2em;
    background-color: #c2dfef;
    margin: 0px 0px 10px 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

#menu ul {
    margin: 0;
    padding: 0;
}

#menu li {
    display: inline;
    margin-left:20px;
}

#bottom {
    float: bottom;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
    text-align: center;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
    color: #045491;
    font-weight : bold;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 0px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  font-weight : bold;
}

#langues {
    text-align: right; 
    margin: 5px 5px 15px 0px;
}

#connection {
    text-align: right;
    margin-right: 5px;
    margin-bottom: 15px;
}

#formConnection {
    text-align: center; 
    border: 1px solid #ABABAB; 
    width: 300px; 
    margin:auto; 
    padding: 15px;
    margin-bottom: 30px;
}

#buttonConnectionTop {
    background-color: #ffffff;
    color: #036fab;
    font-weight: bold;
}

#formSignUp {
    text-align: center; 
    border: 1px solid #ABABAB; 
    width: 300px; 
    margin:auto; 
    padding: 15px;
    margin-bottom: 30px;
}